body {
    background-color: #AAA;
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.3em;
}

input {
    background-color: white;
    font-size: 20px;
    width: 120px;
    height:120px;
    margin: 0;
    color: white;
    padding: 0px;
}

#jogador {
    display: inline;
}

#reiniciar {
    margin-top: 5%;
    width: 200px;
    height:50px;
    font-size: 1em;
    color: black;
}
div{
    margin-bottom: 10px;
    
}